<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=aspnet-MyPictures.Web-20120724111434;Integrated Security=SSPI" />
  <add name="Raven" connectionString="Url=https://kiwi.ravenhq.com/databases/XXXXXXXXXXXXXXXXXXXXXXXXXXXX" />
</connectionStrings>